figure {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
}

figure img {
  width: 100%;
}

#end-game {
  display: none;
}

.black {
  background-color: black;
  color: white;
}

.defender {
  background-color: red;
}

.character {
  border: 2px solid cornflowerblue;
}
